@media screen and (max-width: 767px) {
    .cardWrapper {
        width: 90%;
        height: 65%;
        margin: 0 auto;
        background: #fefefe;
        margin-top: 4%;
        border-radius: 15px;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
        padding: 3%;

        font-family: 'Space Mono', sans-serif;
    }

    .cardTop {
        margin-top: 15px;
        display: flex;
        gap: 10px;
        background: #fefefe;
    }

    .topText {
        width: 100%;
        background: #fefefe;
        display: flex;
        flex-direction: column;
        gap: 4px;
        background: #fefefe;
    }

    .cardTop img {
        width: 70px;
        height: 70px;
        background: #fefefe;
        border-radius: 50%;
    }

    .topText h3 {
        font-size: 16px;
        font-weight: 700;
        background: #fefefe;
    }

    .topText h4:nth-last-child(2) {
        margin-top: -5px;
        font-size: 13px;
        color: #0079FF;
        font-weight: 400;
        background: #fefefe;
    }

    .topText h4:nth-last-child(1) {
        color: #697C9A;
        font-size: 13px;
        font-weight: 400;
        background: #fefefe;
    }

    .para {
        margin-top: 2%;
        color: #4B6A9B;
        font-size: 13px;
        font-weight: 400;
        line-height: 25px;
        background: #fefefe;
    }

    .stats {
        border-radius: 10px;
        background: #f6f8ff;
        margin-top: 4%;
        padding: 18px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        place-items: center;
    }

    small {
        color:#4B6A9B;
        font-size: 11px;
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
    }

    .icons {
        margin-top: 8%;
        display: grid;
        grid-template-columns: 30px 200px;
        gap: 15px;
        align-items: center;
        background: #fefefe;
    }

    .icons p {
        color: #4B6A9B;
        font-size: 13px;
        font-weight: 400;
        background: #fefefe;

    }

    /* Add all dark mode styles */
    .cardWrapper.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText {
        background: #1E2A47;
    }

    .cardTop.dark-mode img {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h3 {
        background: #1E2A47;
        color: #fff;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(2) {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(1) {
        background: #1E2A47;
        color: #fff;
    }

    .para.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .stats.dark-mode {
        background: #141D2F;
        color: #fff;
    }

    .stats.dark-mode small {
        color: #fff;
    }

    .icons.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode p {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode img {
        background-color: #1E2A47;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardWrapper {
        width: 80%;
        margin: 0 auto;
        background: #fefefe;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
        padding: 2%;
        font-family: 'Space Mono', sans-serif;
    }

    .cardTop {
        margin-top: 15px;
        display: flex;
        gap: 10px;
        background: #fefefe;
    }

    .topText {
        margin-left: 4%;
        background: #fefefe;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        background: #fefefe;
    }

    .cardTop img {
        width: 117px;
        height: 117px;
        background: #fefefe;
        border-radius: 50%;
    }

    .topText h3 {
        font-size: 26px;
        font-weight: 700;
        background: #fefefe;
    }

    .topText h4:nth-last-child(2) {
        margin-top: -5px;
        font-size: 16px;
        color: #0079FF;
        font-weight: 400;
        background: #fefefe;
    }

    .topText h4:nth-last-child(1) {
        color: #697C9A;
        font-size: 15px;
        font-weight: 400;
        background: #fefefe;
    }

    .para {
        margin-top: 30px;
        color: #4B6A9B;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        background: #fefefe;
    }

    .stats {
        border-radius: 10px;
        background: #f6f8ff;
        margin-top: 20px;
        padding: 18px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        place-items: center;
    }

    small {
        color:#4B6A9B;
        font-size: 11px;
    }

    h5 {
        font-size: 22px;
        font-weight: 700;
    }

    .icons {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 20px 230px 20px 200px ;
        grid-template-rows: 20px 20px;
        gap: 15px;
        align-items: center;
        background: #fefefe;
    }

    .icons img:nth-last-of-type(2) {
        grid-column: 3;
        grid-row: -3;
        margin-right: 10px;
        background: #fefefe;
    }

    .icons p:nth-last-of-type(2) {
        grid-column: -2;
        grid-row: -3;
        background: #fefefe;
    }

    .icons p {
        color: #4B6A9B;
        font-size: 15px;
        font-weight: 400;
        background: #fefefe;
    }

    /* Add all dark mode styles */
    .cardWrapper.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText {
        background: #1E2A47;
    }

    .cardTop.dark-mode img {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h3 {
        background: #1E2A47;
        color: #fff;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(2) {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(1) {
        background: #1E2A47;
        color: #fff;
    }

    .para.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .stats.dark-mode {
        background: #141D2F;
        color: #fff;
    }

    .stats.dark-mode small {
        color: #fff;
    }

    .icons.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode p {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode img {
        background-color: #1E2A47;
    }
}

@media screen and (min-width: 1024px) {
    .cardWrapper {
        width: 730px;
        height: 69%;
        margin: 0 auto;
        background: #fefefe;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
        padding: 2%;
        font-family: 'Space Mono', sans-serif;
    }

    .cardTop {
        margin-top: -1.2%;
        display: flex;
        gap: 10px;
        background: #fefefe;
    }

    .topText {
        background: #fefefe;
        display: grid;
        grid-template-columns: 180px 200px;
        grid-template-rows: 50px 50px;
        align-items: center;
        width: 80%;

    }

    .cardTop img {
        width: 117px;
        height: 117px;
        background: #fefefe;
        border-radius: 50%;
    }

    .topText h3 {
        font-size: 26px;
        font-weight: 700;
        background: #fefefe;
        margin-left: 10%;
        width: 100%;
        white-space: nowrap;
    }

    .topText h4:nth-last-child(2) {
        margin-top: -35px;
        font-size: 16px;
        color: #0079FF;
        font-weight: 400;
        background: #fefefe;
        margin-left: 9.5%;
        grid-column: 1;
    }

    .topText h4:nth-last-child(1) {
        color: #697C9A;
        width: 90%;
        font-size: 15px;
        font-weight: 400;
        background: #fefefe;
        grid-column: -2;
        grid-row: 1;
        margin-left: 90%;
    }

    .para {
        margin-top: -5%;
        color: #4B6A9B;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        background: #fefefe;

        width: 75%;
        margin-left: 22%;
    }

    .stats {
        border-radius: 10px;
        background: #f6f8ff;
        margin-top: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        place-items: center;

        width: 75%;
        /* height: 15%; */
        margin-left: 22%;
    }

    small {
        color:#4B6A9B;
        font-size: 13px;
        font-weight: 400;
    }

    h5 {
        font-size: 22px;
        font-weight: 700;
    }

    .icons {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 20px 230px 20px 200px ;
        grid-template-rows: 20px 20px;
        gap: 15px;
        align-items: center;
        background: #fefefe;

        width: 75%;
        margin-left: 22%;
    }

    .icons img:nth-last-of-type(2) {
        grid-column: 3;
        grid-row: -3;
        margin-right: 10px;
        background: #fefefe;
    }

    .icons p:nth-last-of-type(2) {
        grid-column: -2;
        grid-row: -3;
        background: #fefefe;
    }

    .icons p {
        color: #4B6A9B;
        font-size: 15px;
        font-weight: 400;
        background: #fefefe;
    }

    /* Add all dark mode styles */
    .cardWrapper.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText {
        background: #1E2A47;
    }

    .cardTop.dark-mode img {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h3 {
        background: #1E2A47;
        color: #fff;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(2) {
        background: #1E2A47;
    }

    .cardTop.dark-mode .topText h4:nth-last-child(1) {
        background: #1E2A47;
        color: #fff;
    }

    .para.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .stats.dark-mode {
        background: #141D2F;
        color: #fff;
    }

    .stats.dark-mode small {
        color: #fff;
    }

    .icons.dark-mode {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode p {
        background: #1E2A47;
        color: #fff;
    }

    .icons.dark-mode img {
        background-color: #1E2A47;
    }
}