@media screen and (max-width: 767px) {
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
        font-family: 'Space Mono', sans-serif;
    }
    
    .headerRight {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .headerWrapper h1 {
        font-size: 26px;
        font-weight: 700;
    }
    
    .headerWrapper h4 {
        font-size: 13px;
        color: #4B6A9B;
        font-weight: 700;
        letter-spacing: 2.5px;
    }

    .headerWrapper.dark-mode {
        background: #141D2F;
        color: "#FFF";
    }

    .headerWrapper.dark-mode h1 {
        color: #fff;
    }

    .headerWrapper.dark-mode h4 {
        color: #fff;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        margin-top: 60px;
        font-family: 'Space Mono', sans-serif;
    }
    
    .headerRight {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .headerWrapper h1 {
        font-size: 26px;
        font-weight: 700;
    }
    
    .headerWrapper h4 {
        font-size: 13px;
        color: #4B6A9B;
        font-weight: 700;
        letter-spacing: 2.5px;
    }

    .headerWrapper.dark-mode {
        background: #141D2F;
        color: "#FFF";
    }

    .headerWrapper.dark-mode h1 {
        color: #fff;
    }

    .headerWrapper.dark-mode h4 {
        color: #fff;
    }
}

@media screen and (min-width: 1024px) {
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 730px;
        margin-top: 100px;
    
        font-family: 'Space Mono', sans-serif;
    }
    
    .headerRight {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .headerWrapper h1 {
        font-size: 26px;
        font-weight: 700;
    }
    
    .headerWrapper h4 {
        font-size: 13px;
        color: #4B6A9B;
        font-weight: 700;
        letter-spacing: 2.5px;
    }

    .headerWrapper.dark-mode {
        background: #141D2F;
        color: "#FFF";
    }

    .headerWrapper.dark-mode h1 {
        color: #fff;
    }

    .headerWrapper.dark-mode h4 {
        color: #fff;
    }
}


